<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.certicom.scpf.mapper.PacienteMapper">

<resultMap id="pacienteResult" type="com.certicom.scpf.domain.Paciente">
	<id column="id_paciente" property="id_paciente" />
	<result column="id_cliente" property="id_cliente" />
	<result column="id_tipo_documento" property="id_tipo_documento"/>
	<result column="numero_documento" property="numero_documento"/>
	<result column="nombre" property="nombre"/>
	<result column="fecha_nacimiento" property="fecha_nacimiento"/>
	<result column="direccion" property="direccion"/>
	<result column="telefono" property="telefono"/>
	<result column="email" property="email"/>
	<result column="tipo_sangre" property="tipo_sangre"/>
	<result column="es_cliente" property="es_cliente"/>
	
	<association property="cliente" column="id_cliente" select="selectCliente"/>

</resultMap>

	<select id="selectCliente" parameterType="int" resultType="com.certicom.scpf.domain.Cliente">
		SELECT * FROM t_cliente WHERE id_cliente=#{id_cliente}
	</select>
	
	<select id="findAll" resultMap="pacienteResult">
			select pas.*, cl.* 
			from t_paciente pas 
			inner join t_cliente cl on cl.id_cliente=pas.id_cliente
			order by pas.id_paciente asc
	</select>
	
</mapper>	
