<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.certicom.scpf.mapper.TicketMapper">


<resultMap id="ticketResult" type="com.certicom.scpf.domain.Ticket">
	<id column="id_ticket" property="id_ticket" />
	<result column="id_producto" property="id_producto" />
	<result column="id_tipo_servicio" property="id_tipo_servicio"/>
	<result column="id_medico" property="id_medico"/>
	<result column="id_especialidad" property="id_especialidad"/>
	<result column="id_paciente" property="id_paciente"/>
	<result column="id_cliente" property="id_cliente"/>
	<result column="fecha_ticket" property="fecha_ticket"/>
	<result column="hora_ticket" property="hora_ticket"/>
	<result column="estado" property="estado"/>
	<result column="encolado" property="encolado"/>
	<result column="flag_externo" property="flag_externo"/>
	<result column="nro_ticket" property="nro_ticket"/>
	<result column="tipo_control" property="tipo_control"/>
	<result column="id_examen" property="id_examen"/>
	<result column="tipo_ticket" property="tipo_ticket"/>
	<result column="precio_final_editado_cliente" property="precio_final_editado_cliente"/>
	
	
	
	<association property="cliente" column="id_cliente" select="selectCliente"/>
	<association property="paciente" column="id_paciente" select="selectPaciente"/>
	<association property="medico" column="id_medico" select="selectMedico"/>
	<association property="producto" column="id_producto" select="selectProducto"/>
	<association property="tipoServicio" column="id_tipo_servicio" select="selectTipoServicio"/>


</resultMap>

	<select id="selectCliente" parameterType="int" resultType="com.certicom.scpf.domain.Cliente">
		SELECT * FROM t_cliente WHERE id_cliente=#{id_cliente}
	</select>

	<select id="selectPaciente" parameterType="int" resultType="com.certicom.scpf.domain.Paciente">
		SELECT * FROM t_paciente WHERE id_paciente=#{id_paciente}
	</select>
	
	<select id="selectMedico" parameterType="int" resultType="com.certicom.scpf.domain.Medico">
		SELECT * FROM t_medico WHERE id_medico=#{id_medico}
	</select>
	
	<select id="selectProducto" parameterType="int" resultType="com.certicom.scpf.domain.Producto">
		SELECT * FROM t_producto WHERE id_producto=#{id_producto}
	</select>
	
	<select id="selectTipoServicio" parameterType="int" resultType="com.certicom.scpf.domain.TipoServicio">
		SELECT * FROM t_tipo_servicio WHERE id_tipo_servicio=#{id_tipo_servicio}
	</select>
	
	<select id="findAll" resultMap="ticketResult">
				select t.*, pa.nombre as des_paciente, pr.descripcion_prod_det as des_servicio, m.nombre_medico as des_medico, 
				tts.descripcion_tipo as des_tipo_servicio, pr.*, m.*, pa.*, tts.*
				from (((t_ticket t inner join t_paciente pa on pa.id_paciente = t.id_paciente) 
					inner join t_producto pr on pr.id_producto = t.id_producto) 
					inner join t_medico m on m.id_medico = t.id_medico) 
					inner join t_tipo_servicio tts on tts.id_tipo_servicio = t.id_tipo_servicio order by t.id_ticket desc 
	</select>
	
	<select id="findAllPAGINATOR" resultMap="ticketResult">
				select t.*, pa.nombre as des_paciente, pr.descripcion_prod_det as des_servicio, m.nombre_medico as des_medico, 
				tts.descripcion_tipo as des_tipo_servicio, pr.*, m.*, pa.*, tts.*
				from (((t_ticket t inner join t_paciente pa on pa.id_paciente = t.id_paciente) 
					inner join t_producto pr on pr.id_producto = t.id_producto) 
					inner join t_medico m on m.id_medico = t.id_medico) 
					inner join t_tipo_servicio tts on tts.id_tipo_servicio = t.id_tipo_servicio 
					where  extract(month from t.fecha_ticket)= #{mes} and  extract(year from t.fecha_ticket)=#{anio}
					
					<if test="id_medico!=0">
						and m.id_medico= #{id_medico}						 
					</if>
					
					<if test="filters.entrySet() != null">
				       <foreach item="item" collection="filters.entrySet()" >
			         	  	<choose>
							<when test="item.key == 'id_ticket'">
								and ( t.id_ticket like ('%' || replace( #{item.value}, ' ', '%')  || '%') 		         	
				         		) 
							</when>
							
							<otherwise>
							and  ${item.key} like ('%' || replace( #{item.value}, ' ', '%')  || '%') 
							</otherwise>
					  		</choose>
			           </foreach> 
            		</if>
            
            <if test="sortField != null">
				order by ${sortField} ${sortOrder}    
		    </if>
		    
		    
		    
			 OFFSET #{first} LIMIT #{pageSize} 
	</select>
	<select id="countTicketPAGINATOR"  resultType="java.lang.Integer">
		select count(*)
				from (((t_ticket t inner join t_paciente pa on pa.id_paciente = t.id_paciente) 
					inner join t_producto pr on pr.id_producto = t.id_producto) 
					inner join t_medico m on m.id_medico = t.id_medico) 
					inner join t_tipo_servicio tts on tts.id_tipo_servicio = t.id_tipo_servicio
					where extract(month from t.fecha_ticket)= #{mes} and  extract(year from t.fecha_ticket)=#{anio}
					<if test="id_medico != 0">
					
						and m.id_medico=#{id_medico} 
					</if>
						
	</select>
	
	<select id="findByPaciente" resultMap="ticketResult">
				select t.*, cm.fecha_consulta as fecha_consulta, cm.fecha_consulta as fecha_consulta, cm.estado as estado_cm, ts.descripcion_tipo as des_servicio, m.nombre_medico as nombre_medico
				from t_ticket t 
				inner join t_tipo_servicio ts on ts.id_tipo_servicio = t.id_tipo_servicio
				inner join t_producto pro on pro.id_producto = t.id_producto
				inner join t_medico m on m.id_medico = t.id_medico 
				left join t_consulta_medica cm on t.id_ticket= cm.id_ticket
				where pro.genera_historia_clinica='TRUE'			
            	and t.id_paciente=#{id_paciente} 
            <if test="sortField != null">
				order by ${sortField} ${sortOrder}    
		    </if>
		    
		    
		    
			 OFFSET #{first} LIMIT #{pageSize} 
	</select>
	<select id="countByPaciente"  resultType="java.lang.Integer">
				select count(*)
				from t_ticket t 
				inner join t_tipo_servicio ts on ts.id_tipo_servicio = t.id_tipo_servicio
				inner join t_producto pro on pro.id_producto = t.id_producto
				inner join t_medico m on m.id_medico = t.id_medico 
				left join t_consulta_medica cm on t.id_ticket= cm.id_ticket
				where pro.genera_historia_clinica='TRUE'		
				and t.id_paciente=#{id_paciente} 		
	</select>
	<select id="findByMedicoPAGINATOR" resultMap="ticketResult">
				select t.*, cm.fecha_consulta as fecha_consulta, cm.fecha_consulta as fecha_consulta, cm.estado as estado_cm, ts.descripcion_tipo as des_servicio, m.nombre_medico as nombre_medico
				from t_ticket t 
				inner join t_producto pr on pr.id_producto = t.id_producto
				inner join t_tipo_servicio ts on ts.id_tipo_servicio = t.id_tipo_servicio
				inner join t_medico m on m.id_medico = t.id_medico 
				left join t_consulta_medica cm on t.id_ticket= cm.id_ticket
					where m.id_medico= #{id_medico}	
						
						<if test="busquedaPorFecha == 1">						
							and cast(t.fecha_ticket as Date) &gt;= #{fecInicio} and cast(t.fecha_ticket as Date) &lt;= #{fecFinal}
						</if>
						
						<if test="id_producto!=0">
							and pr.id_producto = #{id_producto}						
						</if>				 
					
					
					<if test="filters.entrySet() != null">
				       <foreach item="item" collection="filters.entrySet()" >
			         	  	<choose>
							<when test="item.key == 'id_ticket'">
								and ( t.id_ticket like ('%' || replace( #{item.value}, ' ', '%')  || '%') 		         	
				         		) 
							</when>
							
							<otherwise>
							and  ${item.key} like ('%' || replace( #{item.value}, ' ', '%')  || '%') 
							</otherwise>
					  		</choose>
			           </foreach> 
            		</if>
            
            <if test="sortField != null">
				order by ${sortField} ${sortOrder}    
		    </if>
		    
		    
		    
			 OFFSET #{first} LIMIT #{pageSize} 
	</select>
	<select id="countByMedicoPAGINATOR"  resultType="java.lang.Integer">
		select count(*)
				from t_ticket t 
				inner join t_producto pr on pr.id_producto = t.id_producto
				inner join t_tipo_servicio ts on ts.id_tipo_servicio = t.id_tipo_servicio
				inner join t_medico m on m.id_medico = t.id_medico 
				left join t_consulta_medica cm on t.id_ticket= cm.id_ticket
					where m.id_medico= #{id_medico}	
						
						<if test="busquedaPorFecha == 1">						
							and cast(t.fecha_ticket as Date) &gt;= #{fecInicio} and cast(t.fecha_ticket as Date) &lt;= #{fecFinal}
						</if>
						
						<if test="id_producto!=0">
							and pr.id_producto = #{id_producto}						
						</if>
						
	</select>
		
</mapper>	
