<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.certicom.scpf.mapper.TicketMapper">


<resultMap id="ticketResult" type="com.certicom.scpf.domain.Ticket">
	<id column="id_ticket" property="id_ticket" />
	<result column="id_producto" property="id_producto" />
	<result column="id_tipo_servicio" property="id_tipo_servicio"/>
	<result column="id_medico" property="id_medico"/>
	<result column="id_especialidad" property="id_especialidad"/>
	<result column="id_paciente" property="id_paciente"/>
	<result column="id_cliente" property="id_cliente"/>
	<result column="fecha_ticket" property="fecha_ticket"/>
	<result column="hora_ticket" property="hora_ticket"/>
	<result column="estado" property="estado"/>
	<result column="encolado" property="encolado"/>
	<result column="flag_externo" property="flag_externo"/>
	<result column="nro_ticket" property="nro_ticket"/>
	<result column="tipo_control" property="tipo_control"/>
	<result column="id_examen" property="id_examen"/>
	
	
	<association property="cliente" column="id_cliente" select="selectCliente"/>
	<association property="paciente" column="id_paciente" select="selectPaciente"/>
	<association property="medico" column="id_medico" select="selectMedico"/>
	<association property="producto" column="id_producto" select="selectProducto"/>
	<association property="tipoServicio" column="id_tipo_servicio" select="selectTipoServicio"/>


</resultMap>

	<select id="selectCliente" parameterType="int" resultType="com.certicom.scpf.domain.Cliente">
		SELECT * FROM t_cliente WHERE id_cliente=#{id_cliente}
	</select>

	<select id="selectPaciente" parameterType="int" resultType="com.certicom.scpf.domain.Paciente">
		SELECT * FROM t_paciente WHERE id_paciente=#{id_paciente}
	</select>
	
	<select id="selectMedico" parameterType="int" resultType="com.certicom.scpf.domain.Medico">
		SELECT * FROM t_medico WHERE id_medico=#{id_medico}
	</select>
	
	<select id="selectProducto" parameterType="int" resultType="com.certicom.scpf.domain.Producto">
		SELECT * FROM t_producto WHERE id_producto=#{id_producto}
	</select>
	
	<select id="selectTipoServicio" parameterType="int" resultType="com.certicom.scpf.domain.TipoServicio">
		SELECT * FROM t_tipo_servicio WHERE id_tipo_servicio=#{id_tipo_servicio}
	</select>
	
		<select id="findAll" resultMap="ticketResult">
				select t.*, pa.nombre as desPaciente, pr.descripcion_prod_det as desServicio, m.nombre_medico as desMedico, 
				tts.descripcion_tipo as desTipoServicio 
				from (((t_ticket t inner join t_paciente pa on pa.id_paciente = t.id_paciente) 
					inner join t_producto pr on pr.id_producto = t.id_producto) 
					inner join t_medico m on m.id_medico = t.id_medico) 
					inner join t_tipo_servicio tts on tts.id_tipo_servicio = t.id_tipo_servicio order by t.id_ticket desc 
	</select>
	
		
</mapper>	
